@charset "utf-8";
/* =========================== 通用样式========================= */
$body-bgc: #f1f4f5;	//body背景色
$main-bgc: #d0cfd8;	//主背景色
$header-bgc: #31364a;	//头部背景颜色
$main-color-one: #76838f;	//页面主字体颜色
$main-color-two: #ffffff;	//白色字体颜色
$outline-bgc: #f0f3f4;	//视图大纲背景色
$outline-w: 184px;	//视图大纲宽度
$template-w: 288px; //模板层的宽度


/* ========================= reset ============================== */
body,h1,h2,h3,h4,h5,h6,p,dl,dd,ul,ol,pre,form,input,textarea,th,td,select{margin:0;padding:0;}
em,i{font-style:normal}
li{list-style:none}
a,a:link,a:visited,a:hover,a:active{text-decoration:none;}
img{border:none; vertical-align:top;}
table{border-collapse:collapse;}
textarea{ resize:none;overflow:auto;}

body {
  font:14px/1.2 '微软雅黑',YaHei,'黑体',Hei,Tahoma,Helvetica,arial,sans-serif;
  background-color: $body-bgc;
}

//按钮颜色
.btn-green{
	color: #fff;
	background-color: #48d5b2;
}
.btn-green:hover{
	color: #fff;
	background-color: #6fe29f;
}
.btn-red{
	color: #fff;
	background-color: #FF5448;
}
.btn-red:hover{
	color: #fff;
	background-color: #ff7267;
}

//头部layout
.nav-header {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1041;
	width: 100%;
	height: 50px;
	background-color: $header-bgc;
}

//场景layout
.scene {
	background-color: $main-bgc;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	margin-top: 50px;

	//视图大纲layout样式
	.outline {
		position: fixed;
		left: 0;
		top: 50px;
		bottom: 0;
		width: $outline-w;
		z-index: 1040;
		background-color: $outline-bgc;
	}

	//手机场景layout样式
	.workspace {
		height: 100%;
		position: absolute;
		top: 0;
		bottom: 0;
		left: $outline-w;
		right: $template-w;
	}

	.template {
		position: fixed;
		right: 0;
		top: 50px;
		bottom: 0;
		width: $template-w;
		z-index: 1040;
		background-color: #76828e;
	}
}
