/* ==== start 头部 ==== */
$headerColor: #fff;
$headBtnColor: #76838f;
$headBtnGreenColor: #48d5b2;
$headBtnRedColor: #FF5448;
$headerOpacity: .8;
a:active,a:hover {
    outline: 0
}
a:link, a:visited, a:active, a:hover {
    text-decoration: none;
}
li, ol, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
header{
    position: relative;

    .creat_logo {
        position: absolute;
        left: 0;
        top: 0;
        height: 50px;
        h1 {
            margin: 0;
            padding: 0;
        }
        a{
            display: inline-block;
            width: 168px;
            height: 50px;
            margin-left: 15px;
            opacity: $headerOpacity;
            background: url(http://js.gomein.net.cn/images/ui/gomelogoW.png) no-repeat;
            cursor: pointer;
        }
    }

    .creat_con{
        width: 660px;
        margin: 0 auto;

        .comp_panel{
            li{
                float: left;
                color: $headerColor;
                height: 50px;
                width: 60px;
                cursor: pointer;
                padding-top: 7px;
                text-align: center;
                opacity: $headerOpacity;
                position: relative;

                &:hover{
                    background-color: #484d64;
                    opacity: 1;
                }

                .tip{
                    font-size: 12px;
                    position: absolute;
                    left: 0;
                    bottom: 7px;
                    width: 60px;
                }
                .effect-tip{
                    background-color: red;
                    height: 6px;
                    width: 6px;
                    position: absolute;
                    right: 6px;
                    top: 6px;
                    border-radius: 6px;
                }


            }

            .interaction:hover{
                .form-menus {
                    top: 50px;
                    left: -40px;
                    position: absolute;
                    width: 142px;
                    height: 10px;

                    > .popover {
                        display: block;
                        border-radius: 0;
                        .popover-content{
                            padding: 0;
                            .menus{
                                margin-left: 0;
                                .menu-item{
                                    display: inline-block;
                                    height: 30px;
                                    color: #666;
                                    text-align: left;
                                    width: 142px;
                                    padding: 3px 0 3px 12px;
                                    position: relative;
                                    &:hover{
                                        background-color: #08a1ef;
                                        color: #fff;
                                        .menu-item-menu{
                                            position: absolute;
                                            top: 0;
                                            left: 140px;
                                            width: 10px;
                                            height: 120px;
                                            .popover{
                                                display: block;
                                                border-radius: 0;
                                                .right {
                                                    > .arrow{
                                                        top:19px;
                                                    }
                                                }
                                            }
                                        }
                                    }

                                    span {
                                        display: inline-block;
                                        font-size: 12px;
                                        vertical-align: middle;
                                        margin-bottom: 0;
                                    }
                                    .menu-item-name {
                                        width: 90px;
                                        text-align: left;
                                        margin-left: 5px
                                    }
                                    .caret {
                                        content: "";
                                        border-left: 4px solid;
                                        border-right: 0;
                                        border-top: 4px solid transparent;
                                        border-bottom: 4px solid transparent
                                    }
                                }
                            }
                        }
                    }
                }

            }
        }
    }

    .create-action {
        position: absolute;
        top: 0;
        right: 0;
        color: $headerColor;

        li{
            height: 30px;
            width: 40px;
            cursor: pointer;
            margin-top: 10px;
            margin-right: 6px;
            text-align: center;
            border-radius: 3px;
            float: left;
            text-align: center;

            .tip{
                font-size: 12px;
                line-height: 30px;
                color: $headerColor;
            }
        }
    }


}
.gray-dark{
    background-color: $headBtnColor;

}
.gray-dark:hover{
    background-color: #48d5b2;
}

.out-red {
    background-color: $headBtnRedColor;
}
.out-red:hover{
    background-color: #2aabd2;
}
@keyframes pound {
    from { transform: none; }
    50% { transform: scale(1.5); }
    to { transform: none; }
}
.heart{
    animation:pound 1s infinite;
}