/* 场景 */
.workspace .eq-block-grid,.workspace .eq-block-grid-inner,.workspace .eq-block-guides{pointer-events:none}
.workspace #nr,.workspace .eq-block-grid,.workspace .eq-block-guides{position:absolute;height:486px;top:17px;left:27px}
.workspace .history .psdUploadButton div, .workspace .history a{
	width: 40px;
	height: 40px;
	line-height: 42px;
	display: block;
	text-align: center;
	-webkit-user-select: none;
}

.workspace {
	.edit-workspace {
		transform-origin: 0px 0px 0px;
		height: 100%;
		width: 100%;
		overflow: hidden;
	}
	.container {
		position: absolute;
		height: 520px;
		width: 374px;
		top: 50%;
		left: 50%;
		margin-top: -260px;
		margin-left: -187px;

	}
	.nr {
		width: 320px;
		.edit_wrapper{
			overflow: hidden;
			height: 100%;
			width: 100%;
			margin: 0 auto;
			background-position: 50% 50%;
			background-size: cover;
			background-color: #fff;
		}
		.wrapper-background {
			width: 100%;
			height: 100%;
			background-color: red;
			/*background-size: cover;
			background-position: 50% 50%;*/
		}
		.edit_area {
			position: absolute;
			top: 0;
			text-align: left;
			width: 320px;
			height: 486px;
			background-repeat: no-repeat;
			background-size: 100% 100%;
			padding: 0;
			margin: 0;
		}
	}

	.phone {
		border: 0;
		position: absolute;
		left: 24px;
		top: -80px;
		background-image: url(build/css/i/phone.svg);
		width: 326px;
		height: 620px;
		z-index: 1040;
		pointer-events: none;
		.name {
			position: absolute;
			top: 65px;
			width: 80%;
			left: 10%;
			text-align: center;
			color: #fff;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			height: 20px;
			margin: 0;
		}
	}

	.history {
		position: absolute;
		left: 374px;
		z-index: 1040;
		transform-origin: 0 0;
		a {
			background-color: rgba(0,0,0,.5);
			color: #999;
			&:hover {
		        background-color: rgba(0,0,0,.8);
				color: #fff;
			}
			i {font-size: 16px;}
		}
		.active {color: #fff;}
		#warn {background-color: red; }

		.imp {
			background-color: red;
			height: 6px;
			width: 6px;
			position: absolute;
			right: 6px;
			top: 6px;
			border-radius: 6px;
		}
	}
	.history2 {
		left: 350px;
		top: 0;
	}

	.grid-guide-container {
		.grid-guide-setting {
			top: 211px;
			width: 178px;
			opacity: 0;
			background-color: rgba(0,0,0,.8);
			color: #fff;
			position: absolute;
			left: -179px;
			z-index: 1;
			padding: 1px;
			transform-origin: 100% 0;
			transform: rotateY(-90deg);
			transition: all .3s ease;
			.setting-group {
				height: 30px;
				padding: 8px 16px;
				font-size: 12px;
				span {
					float: left;
				}
				.setting-choice {
					float: left;
					position: relative;
					margin-left: 40px;
				}
				label  {height: 24px;}
			}
			.choose-color-box {
				height: 44px;
				.eqc-input-color {
					width: 142px;
					height: 28px;
					cursor: pointer;
					border: 1px solid #ccc;
					.input-group-addon {
						display: block;
						width: 100%;
						height:100%;
						border: 0;
						padding:0;
						background: none;
						border-radius: 0;
						i {
							display: block;
							width: 100%;
							height:100%;
						}
					}
				}
			}
		}

	}
	.grid-guide-container.on {
		.grid-guide-setting {
			opacity: 1;
			transform: none;
		}
	}
	.gridColorPicker {
		position: absolute;
		left: -48px;
		top: 96px;
		width: 208px;
	}
}

.switch .circle-con {
	cursor: pointer;
	width: 40px;
	height: 20px;
	border-radius: 10px;
	position: relative;
}
.switch.switch-open .circle-con {
	background-color: #44cb83;
}
.switch.switch-close .circle-con {
	background-color: #ff5448;
}
.switch .circle-con i {
	width: 16px;
	height: 16px;
	background-color: #fff;
	border-radius: 8px;
	display: block;
	position: absolute;
	top: 2px;
}
.switch.switch-disable .circle-con i, .switch.switch-open .circle-con i {
	right: 2px;
}

.colorpicker-2x .colorpicker-saturation {
	width: 150px;
	height: 180px;
}

.colorpicker-2x .colorpicker-hue,
.colorpicker-2x .colorpicker-alpha {
	width: 20px;
	height: 180px;
}

.colorpicker-2x .colorpicker-color,
.colorpicker-2x .colorpicker-color div {
	height: 20px;
}
.colorpicker-2x .colorpicker-selectors i {
	width: 20px;
	height:20px;
}
